FIREBASE_URL=https://fayda-b365f-default-rtdb.firebaseio.com
FIREBASE_SECRET=your-firebase-secret
JWT_SECRET=your-very-secret-jwt-key-change-this
REMOVE_BG_KEY=your-remove-bg-api-key
FONT_AMH=AbyssinicaSIL-Regular.ttf
FONT_ENG=Inter_18pt-Bold.ttf
BG_PATH=20260319_215211.jpg
BG_PATH_BACK=20260319_211337.jpg
PORT=8000
